.cal-comp {
  .light-bg {
    --theme-color-bg: var(--theme-color-bg-gradient-light);
  }

  .lighter-bg {
    --theme-color-bg: var(--theme-color-bg-gradient-lighter);
  }

  .lightest-bg {
    --theme-color-bg: var(--theme-color-bg-gradient-lightest);
  }

  .dark-bg {
    --theme-color-bg: var(--theme-color-bg-gradient-dark);
  }

  .darker-bg {
    --theme-color-bg: var(--theme-color-bg-gradient-darker);
  }

  .darkest-bg {
    --theme-color-bg: var(--theme-color-bg-gradient-darkest);
  }

  .light-fg {
    --theme-color-fg: var(--theme-color-fg-gradient-light);
  }

  .lighter-fg {
    --theme-color-fg: var(--theme-color-fg-gradient-lighter);
  }

  .lightest-fg {
    --theme-color-fg: var(--theme-color-fg-gradient-lightest);
  }

  .dark-fg {
    --theme-color-fg: var(--theme-color-fg-gradient-dark);
  }

  .darker-fg {
    --theme-color-fg: var(--theme-color-fg-gradient-darker);
  }

  .darkest-fg {
    --theme-color-fg: var(--theme-color-fg-gradient-darkest);
  }

  .light {
    --theme-color-bg: var(--theme-color-bg-gradient-light);
    --theme-color-fg: var(--theme-color-fg-gradient-light);
  }

  .lighter {
    --theme-color-bg: var(--theme-color-bg-gradient-lighter);
    --theme-color-fg: var(--theme-color-fg-gradient-lighter);
  }

  .lightest {
    --theme-color-bg: var(--theme-color-bg-gradient-lightest);
    --theme-color-fg: var(--theme-color-fg-gradient-lightest);
  }

  .dark {
    --theme-color-bg: var(--theme-color-bg-gradient-dark);
    --theme-color-fg: var(--theme-color-fg-gradient-dark);
  }

  .darker {
    --theme-color-bg: var(--theme-color-bg-gradient-darker);
    --theme-color-fg: var(--theme-color-fg-gradient-darker);
  }

  .darkest {
    --theme-color-bg: var(--theme-color-bg-gradient-darkest);
    --theme-color-fg: var(--theme-color-fg-gradient-darkest);
  }

  .bg {
    background-color: var(--theme-color-bg);
  }

  .fg {
    color: var(--theme-color-fg);
  }

  .bordered {
    border: var(--theme-border-size) solid var(--theme-color-fg);
  }

  .rounded {
    border-radius: var(--theme-border-size);
  }

  box-sizing: border-box;
  font-family: var(--theme-font-family);
}